.App {
  text-align: center;
}

.wrapper {
  height: 100vh;
  display: flex;
}

.links {
  background-color: black;
  flex-direction: row;
  color:white;
}


#header {
  width:100%;        
  margin-left:auto;
  margin-right:auto;
  background-position:center;
  background-repeat:no-repeat;
}
/* 
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */