.App {
  text-align: center;
}


.links {
  flex-direction: row;
  font-size: 20px;
  background-color: none;
}

/* Header Styling */
.header {
  padding: 10px 16px;
  background: purple;
  color: #f1f1f1;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 102px;
}