.App {
  text-align: center;
}

.wrapper {
  height: 100vh;
  display: flex;
}

.links {
  background-color: black;
  flex-direction: row;
  color:white;
}

/* 
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */